*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(34, 34, 34);
}
section button
{
    height: 70px;
    width: 160px;
    text-align: center;
    font-size: 22px;
}
section span
{
    font-size: 45px;
    color: white;
}
section
{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
}
.txt
{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.display h1
{
    margin-top: 90px;
    border-bottom: 9px solid white;
}
.display div
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 160px;
    height: 130px;
    background-color: white;
    font-size: 68px;
    position: absolute;
    top: 180px;
    left: 43%;
}

.check-container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25%;
    left: 20%;
}
.inp1
{
    width: 280px;
    height: 130px;
    background-color: transparent;
    border: 6px solid white;
    text-align: center;
    font-size: 60px;
    color: white;
}
.btn
{
    width: 140px;
    height: 70px;
    margin:25px 0 0 68px;
    font-size: 22px;
}
.guess
{
    font-size: 55px;
    color: white;
    font-weight: lighter;
    margin-top: 60px;
}
.values
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
}
.values label
{
    color: white;
    font-size: 23px;
}
.val
{
    color: white;
    font-size: large;
}
.guess-parent
{
    position: absolute;
    right: 0;
    bottom: 20%;
    height: 40%;
    width: 50%;
}